@import "tailwindcss";

/* Your variables */
:root {
  --color-primary: #5c56e1;
  --color-primary-dark: #5b21b6;
  --color-accent: #8b5cf6;
  --color-card: #ffffff;
  --color-input: #f1f1ff;
  --color-text: #09090e;
  --color-placeholder: #5c5a87;
  --color-border: #d4d4ed;
  --color-gradient: linear-gradient(135deg, #5c56e1, #8b5cf6);
}